<div class="container" style="height: 600px">
  <div class="page-title">
    <h4>管理者ログイン</h4>
  </div>

  <table class="table table-borderless session-table">
    <%= form_with model: @admin, url: admin_session_path do |f| %>
    <tr>
      <th width="20%">メールアドレス</th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'sample@example.com',:size => '50*80' %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td><%= f.password_field :password, autocomplete: "current-password",:size => '50*80' %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit 'ログイン', class: 'btn btn-primary button1 mt-3' %></td>
    </tr>
    <% end %>
  </table>
</div>
