<div class="container">
  <div class="text-center">
    <h1 class="m-5 about">About</h1>
    <p class="about-int">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
    <p class="about-int">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
    <p class="about-int">様々なバリエーションをご用意しております。</p>
    <p class="about-int">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
    <p class="about-int">ぜひご注文ください。</p>
  </div>

  <div style="height:200px"></div>
</div>