.customer-edit-button {
  height: 35px;
  width: 80px;
}

.customer-edit-input {
  height: 35px;
  width: 300px;
  margin-right: 100px;
}

//admin--------------------------------------------------------------------//

.customer-title {
  margin: 30px;
  background-color: #eeeeee;
  width: 300px;
  text-align: center;
}

.customer-margin {
  margin-left: 230px;
}