.about {
  font-size: 100px;
}

.about-int {
  font-size: 25px;
  margin-bottom: 0;
}

.top-int {
  width: 100%;
  height: 250px;
  background-color: #eeeeee;
}

.genre-list {
  list-style: none;
  margin-left: 10px;
}

.top-item-image {
  width: 150px;
  height: 100px;
}

.top-link {
  text-decoration: none !important;
  color: black;
}